<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <div class="title-container">
        <h1>Task Manager</h1>
    </div>
    <div>
        <ul>
            {% for task in tasks %}
              <div class="task-container">
                <li class="task-item">
                    <h1>{{ task.title }}</h1>
                    <p>{{ task.description }}</p>
                    <div class="buttons">
                        <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn-edit">Edit Task</a>
                        <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
                            <button type="submit" class="btn-delete">Delete Task</button>
                        </form>
                    </div>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div class="task-form-container">
        <div>
            <form class="task-form" method="POST" action="/add_task">
                <input type="text" name="title" placeholder="Task Title" required>
                <textarea name="description" placeholder="Task Description"></textarea>
                <button class="add-task" type="submit">Add Task</button>
            </form>
        </div>
    </div>
</body>
</html>

